label{
    display: block;
    font-size: 13px;
    font-weight: 300;
}

input, textarea{
    display: block;
    margin-bottom: 15px;
    padding: 5px 2%;
    width: 6%;
}

input[type="file"]{
    padding-left: 0;
}

textarea{
    height: 150px;
}

input.botao{
    width: auto;
}

.margin-button15{
    margin-bottom: 15px;
}